
body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: rgb(163,0,163);
}

.quem-somos{
    background-color: rgb(0,158,158);
    color: rgb(0,36,36);
}

.margin{
    padding: 30px;
}

.parceiros{
    background-color: rgb(0,66,66);
    color: rgb(176,176,176);
}

.servicos{
    background-color: rgb(255,176,31);
}

.bg-footer{
    background-color: black;
    color: white;
}